<header class="topbar">
    <h1>Dashboard Overview</h1>
    <div class="user-info">
        <%= current_admin.email %>
        <br>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete, data: { turbo: false }, class: "btn btn-logout" %>
    </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section class="cards">
    <div class="card">
        <h3>Balance</h3>
        <p><%= number_to_currency(@total_balance, unit: "₹", delimiter: ",", separator: ".") %></p>
    </div>
    <div class="card">
        <h3>Users</h3>
        <p><%= @total_customers %></p>
    </div>
    <div class="card">
        <h3>Sales</h3>
        <p><%= number_to_currency(@total_sales, unit: "₹", delimiter: ",", separator: ".") %></p>
    </div>
    <div class="card">
        <h3>Products</h3>
        <p><%= @total_products %></p>
    </div>
</section>


<section>
<div class="chart-container">
    <canvas id="dashboardChart"></canvas>
</div>
<div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById("dashboardChart").getContext("2d");
        new Chart(ctx, {
            type: "pie",
            data: {
                labels: ["Balance", "Sales"],
                datasets: [{
                    data: [<%= @total_balance %>, <%= @total_sales %>],
                    backgroundColor: ["#3498db", "#e74c3c"]
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
    });
</script>

<style>
    .chart-container {
        width: 50%;
        margin: 20px auto;
    }
    canvas {
        width: 10%;
        max-height: 200px;
    }
</style>
</section>