<header class="topbar">
    <h1>Dashboard Overview</h1>
    <div class="user-info">
        <%= current_admin.email %>
        <br>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete, data: { turbo: false }, class: "btn btn-logout" %>
    </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<section class="cards">
    <div class="card">
        <h3>Balance</h3>
        <p><%= number_to_currency(@total_balance, unit: "₹", delimiter: ",", separator: ".") %></p>
    </div>
    <div class="card">a
        <h3>Users</h3>
        <p><%= @total_customers %></p>
    </div>
    <div class="card">
        <h3>Sales</h3>
        <p><%= number_to_currency(@total_sales, unit: "₹", delimiter: ",", separator: ".") %></p>
    </div>
    <div class="card">
        <h3>Products</h3>
        <p><%= @total_products %></p>
    </div>
</section>
