<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
</head>
<body>
<center>
    <h1>Edit Customer</h1>
</center>
    <div class="form-container">
        <%= form_with model: @customer, url: admin_customer_path(@customer), local: true, method: :patch do |f| %>

            <% if flash[:notice] %>
                <p class="notice"><%= flash[:notice] %></p>
            <% end %>

            <% if flash[:alert] %>
                <p class="alert"><%= flash[:alert] %></p>
            <% end %>

            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "input-field" %>
            </div>

            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "input-field" %>
            </div>

            <div class="form-group">
                <%= f.label :phone %>
                <%= f.text_field :phone, class: "input-field" %>
            </div>

            <div class="form-group">
                <%= f.label :address %>
                <%= f.text_area :address, class: "input-field" %>
            </div>

            <div class="form-group">
                <%= f.label :balance %>
                <%= f.number_field :balance, class: "input-field" %>
            </div>

            <%= f.submit "Update Customer", class: "submit-btn" %>
            <%= link_to "Back", admin_customers_path, class: "btn" %>

        <% end %>
    </div>

</body>
</html>
