<header class="topbar">
    <h1>Customers</h1>
    <div class="user-info">
        <%= current_admin.email %><br>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete, data: { turbo: false }, class: "btn btn-logout" %>
    </div>
</header>
<center>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</center>

            <div class="table-container">
                <h2 class="mb-3">Customers</h2>
                <div class="d-flex justify-content-between mb-3">
                <%= form_with url: admin_customers_path, method: :get, local: true, class: "d-flex" do |form| %>
                    <%= form.text_field :search, value: params[:search], placeholder: "Search customers...", class: "form-control me-2" %>
                    <%= form.submit "Search", class: "btn btn-primary" %>
                <% end %>
                
                    <%= link_to "Add New Customer", new_admin_customer_path, class: "btn btn-primary" %>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @customers.each do |customer| %>
                            <tr>
                                <td><%= customer.name %></td>
                                <td><%= customer.email %></td>
                                <td><%= customer.phone %></td>
                                <td>₹<%= number_with_delimiter(customer.balance, delimiter: ",") %></td>
                                <td>
                                  <%= link_to customer.name, admin_customer_path(customer), class: "btn btn-info btn-sm" %>
                                    <%= link_to "Edit", edit_admin_customer_path(customer), class: "btn btn-warning btn-sm" %>
                                    <%= button_to "Delete", admin_customer_path(customer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                             </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
