<h1 style="text-align: center; color: #2a2a72;">Add New Customer</h1>

<div class="form-container">
  <%= form_with model: @customer, url: admin_customers_path, local: true do |f| %>
    <p class="notice"><%= notice %></p>       
    <p class="alert"><%= alert %></p>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :balance %>
      <%= f.number_field :balance, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "input-field" %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Customer", class: "submit-btn" %>
    </div>
  <% end %>
</div>