





    <header class="topbar">
    <h1>Orders</h1>
    <div class="user-info">
        <%= current_admin.email %><br>
        <%= button_to "Logout", destroy_admin_session_path, method: :delete, data: { turbo: false }, class: "btn btn-logout" %>
    </div>
</header>

<center>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</center>
<div class="table-container">
<h2>Orders List</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
            <tr>
                <td><%= order.id %></td>
                <td><%= order.customer.name %></td>
                <td>₹<%= number_with_delimiter(order.total_amount, delimiter: ",") %></td>
                <td><%= order.status %></td>
                <td>
                   
                    <%= link_to "Edit", edit_admin_order_path(order), class: "btn btn-warning btn-sm" %>
                    <%= button_to "Delete", admin_order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>


